<!-- !-->
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/sheets.css">
    <script type="text/javascript">
        function addSheetForms(snapshot) {
            const sheet = document.createElement('p');
            const val = snapshot.val();

            // Include a way to get to the sheet.
            const a = document.createElement('a');
            a.classList.add('sheet');
            a.textContent = a.title = val.name + ' -- Level ' + val.level + ' ' + val.class;
            a.href = '/sheet/' + val.slug;
            sheet.appendChild(a);

            /*
            <!-- For each of the forms we have, add it. The form, as HTML, is as follows. !-->

            <form action="/delete/{sheet.slug}" method="post">
               <input type="hidden" name="uid" value="{user.uid}">
               <input type="submit" value="Delete">
            </form>
            <br>
           */

            // Create Initial Delete Form
            const formDelete = document.createElement('form');
            formDelete.setAttribute('action', '/delete/' + val.slug);
            formDelete.setAttribute('method', 'post');
            formDelete.classList.add('delete');

            // Add the Hidden User ID to the form
            const hiddenUser = document.createElement('input');
            hiddenUser.type = 'hidden';
            hiddenUser.name = 'uid';
            hiddenUser.value = firebaseUser.currentUserId + '';
            formDelete.appendChild(hiddenUser);

            // Add Delete Button to the form
            const submit = document.createElement('input');
            submit.type = 'submit';
            submit.value = 'Delete';
            formDelete.appendChild(submit);

            // Add Delete form to the sheet, and add the sheet to the sheet envelope.
            sheet.appendChild(formDelete);
            const envelope = document.querySelector('#sheets');
            envelope.appendChild(sheet);
            envelope.appendChild(document.createElement('br'));
        }

        function onLoad() {
            onFirebaseSignIn(function (user) {
                const newSheetForm = document.querySelector('#new-sheet-form');
                const notSignedIn = document.querySelector('#not-signed-in');
                const huid = document.querySelector('#huid');
                if (user) {
                    newSheetForm.style.visibility = "visible";
                    notSignedIn.style.visibility = "hidden";
                    huid.value = firebaseUser.currentUserId + '';

                    // Display the sheets for this user.
                    accessDatabase('/users/' + user.uid, function (snapshot) {
                        snapshot.forEach((ele) => {
                            accessDatabase('/sheets/' + ele.val(), addSheetForms);
                        });
                    });

                } else {
                    newSheetForm.style.visibility = "hidden";
                    notSignedIn.style.visibility = "visible";
                    huid.value = '';
                }
            });
        }

        window.addEventListener('load', onLoad);
    </script>
</head>

<!--<A HREF="/sheets/newSheet">Make a new Character Sheet!</A>!-->
<form action="/sheet/newSheet" method="post" id="new-sheet-form">
    <h2>Your Sheets</h2>

    <div id="sheets"></div>
    <br>

    <input type="hidden" id="huid" name="huid">
    <label>Sheet Name: <input type="text" name="sheetName"></label><br><br>
    <input type="submit" value="Create a New Sheet">
</form>

{{#if error}}
    <comment class="error">{{error}}</comment>
{{/if}}

<h1 id="not-signed-in">In order to create a sheet, you must first sign in. Please sign in <A href="/signin">here</A>.
</h1>
</html>