<!-- !-->
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/sheets.css">
    <script type="text/javascript">
        function onLoad() {
            onFirebaseSignIn(function (user) {
                const newSheetForm = document.querySelector('#new-sheet-form');
                const notSignedIn = document.querySelector('#not-signed-in');
                const huid = document.querySelector('#huid');
                if (user) {
                    newSheetForm.style.visibility = "visible";
                    notSignedIn.style.visibility = "hidden";
                    huid.value = firebaseUser.currentUserId + '';

                    // Display the sheets for this user.
                    firebase.database().ref('/users/' + user.uid).once('value', function (snapshot) {
                        snapshot.forEach((ele) => {
                            firebase.database().ref('/sheets/' + ele.val()).once('value', addSheetForms);
                        });
                    });

                } else {
                    newSheetForm.style.visibility = "hidden";
                    notSignedIn.style.visibility = "visible";
                    //hact.value = '';
                    huid.value = '';
                }
            });
        }

        window.addEventListener('load', onLoad);
    </script>
</head>

<!--<A HREF="/sheets/newSheet">Make a new Character Sheet!</A>!-->
<form action="/sheet/newSheet" method="post" id="new-sheet-form">
    <h2>Your Sheets</h2>

    <div id="sheets"></div>
    <br>

    <input type="hidden" id="huid" name="huid">
    <label>Sheet Name: <input type="text" name="sheetName"></label><br><br>
    <input type="submit" value="Create a New Sheet">
</form>

{{#if error}}
    <comment class="error">{{error}}</comment>
{{/if}}

<h1 id="not-signed-in">In order to create a sheet, you must first sign in. Please sign in <A href="/signin">here</A>.
</h1>
</html>