<html>
<head>
    <script type="text/javascript">
        firebase.auth().signOut().then(function() {
            window.location = '/signin'
        }, function(err) {
            console.log('There was an error signing out. Sorry about that.');
        });
    </script>
</head>
<h1>Signing you out. Please wait...</h1>
</html>