<html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/sheet.css">
</head>
<p>
    This will be another form at some point later that live-saves your sheet information into each field! In the
    meantime, you have the following to look at!
<form>
    {{sheet.name}} - Level {{sheet.level}} {{sheet.class}}.
</form>
</html>