div#header {
    font-size:smaller;
    text-align: center;
    position: fixed;
    right: 15px;
    top: 0px;
    padding: 5px;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    background-color: whitesmoke;
}

comment {
    text-align: center;
    font-size: xx-small;
    position: fixed;
    bottom: 5px;
    right: 10px;
}

h1 {
    text-align: center;
}

html {
    background-color: beige;
}